<div class="users_new">
    <div>
        <div class="logo">
            <img src="/assets/bith.daikiPhoto.753765816.739612.jpeg" alt="bith logo"> <!-- ロゴ画像は任意で変更してください -->
        </div>
        
        <%= button_to "さっそくはじめる", {controller: 'users', action: 'sign_up1'}, {method: :get, class: :"start-button"} %>
        <%= button_to "ログイン", {controller: 'users', action: 'sign_in'}, {method: :get, class: :"login-button"} %>
    </div>
</div>